DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
INSTANCE_CONNECTION_NAME=
    
GEMINI_API_KEY=test_your_api_key
PERPLEXITY_API_KEY=test_your_api_key2

# LINE Bot 設定
LINE_CHANNEL_SECRET=你的Secret內容
LINE_CHANNEL_ACCESS_TOKEN=你的Token內容
