# Cloud SQL 連線設定（使用 Cloud SQL Proxy）
DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=sadivo
DB_PASSWORD=
DB_NAME=greenwash

# Cloud SQL 實例連線名稱（供 Cloud SQL Proxy 使用）
# 大概會長這樣  greenwash-485301:asia-northeast1:gwd
# 本地端請註解掉這項
INSTANCE_CONNECTION_NAME=

# Vertex AI 配置（生產環境使用）
#如果要使用ai studio api 請註解調這2項
GCP_PROJECT_ID=greenwash-485301
GCP_LOCATION=asia-northeast1

# Gemini API Key（本地開發備用，生產環境可不設定）
GEMINI_API_KEY=
PERPLEXITY_API_KEY=

# LINE Bot 設定
LINE_CHANNEL_SECRET=你的Secret內容
LINE_CHANNEL_ACCESS_TOKEN=你的Token內容